:root {
    --font-primaria: Roboto;
    --font-secundaria: Clicker Script;
    --cor-primaria: #F9C06A;
    --cor-secundaria: #1E1E1E;
    --cor-terciaria: #FFFFFF;
    --cor-titulos: #603809;
    --cor-subtitulos: #707070;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow: hidden;
}