.fundo {
  background-image: url(../assets/img/coffee-image.png);
  background-size: cover;         /* cobre toda a tela */
  background-position: center;    /* centraliza a imagem */
  background-repeat: no-repeat;
  background-attachment: scroll;  /* imagem acompanha o movimento */
  
  width: 100%;
  height: 100vh;                  /* ocupa toda a altura da janela */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.camadapreta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.conteudo-principal {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  width: 100%;
}

.logo-texto {
  text-decoration: none;
  font-family: var(--font-secundaria);
  font-size: 2em;
  color: var(--cor-terciaria);
}

.hamburger-btn {
  display: none;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  font-family: var(--font-primaria);
}

.nav-links li a {
  text-decoration: none;
  color: var(--cor-terciaria);
}

@media (max-width: 768px) {

  .hamburger-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
  }

  .bar {
    width: 100%;
    height: 3px;
    background-color: var(--cor-terciaria);
    transition: all 0.3s ease-in-out;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: right 0.3s ease-in-out;
    z-index: 5;
  }

  .nav-links.active {
    right: 0;
  }
}

.main-content-text {
  padding: 50px 50px;
}

.subtitle {
  font-family: var(--font-primaria);
  color: var(--cor-terciaria);
  font-size: 1.5em;
  font-weight: 300;
}

.main-title {
  font-family: var(--font-secundaria);
  font-weight: 200;
  font-size: 190px;
  color: var(--cor-terciaria);
  margin-top: -20px;
  padding: 50px;
  margin: -10px;
}

.description-text {
  font-family: var(--font-primaria);
  color: var(--cor-terciaria);
  font-size: 1em;
  font-weight: 300;
  max-width: 500px;
}

@media (max-width: 768px) {

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
  }

  .conteudo-principal {
    justify-content: center;
    align-items: center;
  }

  .main-content-text {
    padding: 0 20px;
    text-align: center;
  }

  .main-title {
    font-size: 80px;
  }

  .subtitle {
    font-size: 1.2em;
  }
}