.conteudo-principal {
    position: relative;
    z-index: 2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    width: 100%;
}

.logo-texto {
    text-decoration: none;
    font-family: var(--font-secundaria);
    font-size: 2em;
    color: var(--cor-secundaria);
}

.hamburger-btn {
    display: none;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    font-family: var(--font-primaria);
}

.nav-links li a {
    text-decoration: none;
    color: var(--cor-secundaria);
}

@media (max-width: 768px) {

    .hamburger-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 25px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        z-index: 10;
    }

    .bar {
        width: 100%;
        height: 3px;
        background-color: var(--cor-secundaria);
        transition: all 0.3s ease-in-out;
    }

    .hamburger-btn.is-open .bar {
        background-color: var(--cor-terciaria);
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        list-style: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        transition: right 0.3s ease-in-out;
        z-index: 5;
    }

    .nav-links li a {
        text-decoration: none;
        color: var(--cor-terciaria);
    }

    .nav-links.active {
        right: 0;
    }
}

.diferenciais-section {
    padding: 80px 20px;
    text-align: center;
    font-family: var(--font-primaria);
    color: var(--cor-titulos);
    background-color: var(--cor-terciaria);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.diferenciais-titulo {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: var(--font-primaria);
    color: var(--cor-titulos);
    background-color: var(--cor-terciaria);
}

.diferenciais-subtitulo {
    font-size: 1.1em;
    margin-bottom: 50px;
    font-family: var(--font-primaria);
    color: var(--cor-subtitulos);
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.card-item {
    flex-basis: 22%;
    min-width: 200px;
    padding: 30px 20px;
    background-color: #f8f1e6;
    border-radius: 5px;
    transition: transform 0.3s;
}

.card-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.card-icone {
    font-size: 3.5em;
    line-height: 1;
    margin-bottom: 15px;
    font-family: 'Font Awesome', sans-serif;
}

.icone-grao {
    padding: 15px; 
    border: 2px solid #654321;
    border-radius: 50%;
}

.card-titulo {
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}

.card-descricao {
    font-size: 0.9em;
    color: #888;
}

.cta-frase {
    font-size: 1.1em;
    margin-top: 40px;
    margin-bottom: 5px;
}

.cta-destaque {
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 25px;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: red;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}

.btn {
    background-color: #d8b782;
}